DB_HOST=10.0.10.25
DB_PORT=3306
DB_USER=iot_user
DB_PASSWORD=CHANGE_ME_APP_DB_PASSWORD
DB_NAME=iot

MYSQL_ROOT_PASSWORD=CHANGE_ME_ROOT_PASSWORD
MYSQL_DATABASE=iot
MYSQL_USER=iot_user
MYSQL_PASSWORD=CHANGE_ME_APP_DB_PASSWORD

CORS_ORIGINS=http://localhost:3000
