ENVIRONMENT=dev
APP_NAME=IoT Backend API
# Comma-separated list
CORS_ORIGINS=http://localhost:3000

# MySQL connection string
# Example: mysql+pymysql://root:password@localhost:3306/iot
DATABASE_URL=mysql+pymysql://root:CHANGE_ME@localhost:3306/iot

