---
import webflowLogo from '../assets/webflow.svg';
import arrowIcon from '../assets/arrow-icon.svg';
import MainLayout from '../layouts/main.astro';

const pageClass = 'splash';
---

<MainLayout pageClass={pageClass}>
  <div class="bg-black text-[rgba(255,255,255,0.67)] grid grid-rows-[20px_1fr_20px] justify-items-center min-h-screen p-8 gap-16 font-[family-name:var(--font-geist-sans)]">
    <main class="flex flex-col gap-[24px] row-start-2 items-start">
      <img
        src={webflowLogo.src}
        alt="logo"
        width={198}
        height={33}
      />
      <ol class="flex flex-col gap-[8px]">
        <li>
          <p class="text-[18px]">
            1. Get started by entering a prompt into the AI Assistant or
            editing the index.astro file
          </p>
        </li>
        <li>
          <p class="text-[18px]">
            2. When you are done making changes hit Deploy to launch your
            cloud app
          </p>
        </li>
      </ol>
      <a
        class="flex items-center gap-[8px] border-[rgba(255,255,255,0.13)] border-1 rounded-[4px] py-[4px] px-[8px] text-white text-[18px]"
        href="https://developers.webflow.com/webflow-cloud/intro"
        target="_blank"
      >
        Documentation{" "}
        <img
          src={arrowIcon.src}
          alt="arrow-icon"
          width={24}
          height={24}
          class="inline-block"
        />
      </a>
    </main>
  </div>
</MainLayout>